<h4 class="component-header">Probable Pitchers</h4>
<div class="teams">
  <div class="team away-team">
    <div class="image-container">
      <img src="#" width="50" height="50" class="player-photo" />
    </div>
    <div class="player-metadata">
      <h3 class="team-header">Away Pitcher Name</h3>
      <p class="metadata">(Wins - Losses, ERA)</p>
    </div>
  </div>

  <div class="team home-team">
    <div class="image-container">
      <img src="#" width="50" height="50" class="player-photo" />
    </div>
    <div class="player-metadata">
      <h3 class="team-header">Home Pitcher Name</h3>
      <p class="metadata">(Wins - Losses, ERA)</p>
    </div>
  </div>
</div>
