<thead>
  <th class="game-status">
    <h4 class="component-header">7:15 PM PT <i>at AT&amp;T Park in San Francisco, CA</i></h4>
  </th>
</thead>
<tbody class="teams">
  <tr class="team away-team">
    <div class="image-container">
      <img src="#" width="50" height="50" class="team-logo" />
    </div>
    <div class="team-metadata">
      <h3 class="team-header">Away Team</h3>
      <p class="metadata">(Wins - Losses)</p>
    </div>
  </tr>

  <tr class="team home-team">
    <div class="image-container">
      <img src="#" width="50" height="50" class="team-logo" />
    </div>
    <div class="team-metadata">
      <h3 class="team-header">Home Team</h3>
      <p class="metadata">(Wins - Losses)</p>
    </div>
  </tr>

</tbody>
