// Header

[role="banner"] {
  margin-top: 15px;
  margin-bottom: 25px;
  max-width: 1024px;
  width: 100%;
  & > a {
    display: flex;
    align-items: center;
  }

  .site-logo + .site-header {
    margin-left: 15px;
  }
}
