/*
  Score Display component - Displays the team names, wins and losses, and, if applicable, the score metadata associated with each game.

  Depending on the game status state, different content will appear:
  - Default (Preview):
  - Pre-Game:
  - Warmup:
  - In Progress:
  - Final:
*/

[data-component="score"] {
  @extend %flex-column;
  flex: 1;

  .linescore-header {
    margin-top: -7px;
    margin-left: -10px;
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: 1px solid $true-black;
  }

  .linescore-container {
    @extend %flex-row;
    flex: 1;
    .game-status {
      flex: 2;
      text-align: left;
    }
    .category {
      width: 75px;
      font-size: 12px;
    }
  }

  .opponents {
    @extend %flex-column;
    flex: 1;
    justify-content: space-around;
  }
  .team {
    @extend %flex-row;
    flex: 1;
    align-items: center;
    .away-team, .home-team {
      @extend %flex-row;
      align-items: center;
      flex: 2;
    }
    .total {
      width: 75px;
      font-size: 16px;
      text-align: center;
    }
  }

  .image-container {
    width: 45px;
    height: 45px;
    img {
      width: 100%;
    }
  }
}
